:root{
    --botanicalgreen:#3E5D58;
    --lightbotgreen: #92aca0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(../style/images/backgroundLight.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

.aboutMain{
    display: flex;
    padding: 10%;
}
.aboutMain h1{
    font-size: 2.5rem
}
.aboutMain p{
    margin-bottom: 1.5rem;

}

.aboutText{
    width: 50%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

/** Nav Formatting**/
header{
    position: sticky;
    top: 0;
    background-color: ghostwhite;
    padding: 0.25rem;
    box-shadow: 0 2px 2px -2px rgba(255, 255, 255, 0.3);

}

ul.navContainer{
display: flex;
justify-content: flex-end;
}

 ul li.navContainer {
    display: flex;
    justify-content: flex-end;
    font-size: xx-large;
    line-height: 35px;
 }

 .navContainer i{
    font-size: 36px;
    line-height: 35px;
 }

.navContainer li a, i{
    color: var(--botanicalgreen);
    padding: 18;

}
li a:link{
text-decoration: none;
}

li a:visited{
    color: var(--lightbotgreen);
}

/** Dark Mode **/
.bodyDark{
    background-image: url("images/backgroundDark.svg");
    color: ghostwhite !important;
}

.projectDark{
    background-color: #121212 !important;
}
