@font-face {
    font-family: bely, serif;
    src: url(https://use.typekit.net/dlk4zzb.css);
}
:root{
    --botanicalgreen:#3E5D58;
    --lightbotgreen: #92aca0;
}

h2, h3{
    font-family: bely, serif;
    font-weight: 800;
}
h2{
    font-weight: 700px;
    font-size: xx-large;
    color: var(--botanicalgreen);
}
h3{
    font-size: larger;
}

body{
    font-size: 18px;
}

a:link{
    color: var(--botanicalgreen);
    text-decoration: none;
}
#greeting{
    text-align: center;
}

.main{
    margin-left: 200px;
    margin-right: 200px;

}

.titleTime{
    display: flex;
    justify-content: space-between;
    text-align: right;
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 900px) {
   .titleTime {
        display: block;
        text-align: left;
        white-space: nowrap;
   }
   ul{
       white-space: nowrap;
   }
  
  }
  
  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    
  }


