/**https://gregives.co.uk/**/
:root{
    --botanicalgreen:#3E5D58;
    --lightbotgreen: #92aca0;
    --blurshift: rgba(156, 175, 136, 0.9);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #fefeff;
}

.main{
padding-top: 7.5rem;
padding-bottom: 4.5rem;
}

#greetingContainer{
    margin-left: 150px;
}
p{
    font-size: 1.5rem;
}

h1{
    font-size: 4.5rem;
}
.kelan{
   color: #3E5D58;
}
#greetingPhoto{
}






/** Nav Formatting **/
header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(0.25rem);
    background-color: #f9f9fb;
    padding: 0.25rem

}

ul{
display: flex;
justify-content: flex-end;
}

li{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

li a{
    color: var(--botanicalgreen);
    padding: 8px;

}
li a:link{
text-decoration: none;
}

li a:visited{
    color: var(--lightbotgreen);
}