/**https://gregives.co.uk/**/
:root{
    --botanicalgreen:#3E5D58;
    --lightbotgreen: #92aca0;
    --blurshit: rgba(255, 255, 255, 0.9);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#greetingContainer{
    margin: 150px;
}
p{
    display: block;
    inline-size: 400px;
}
h1{
    font-size: 2.5rem;
}
.kelan{
   color: #3E5D58;
}


/** Nav Formatting **/
header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(0.15rem);
    background-color: var(--blurshit);
    margin: 0 150;
}

ul{

padding-bottom: 20px;
text-align: right;
}

li{
    display: inline;
    font-size: 20px;
}

li a{
    color: black;
    padding: 8px;

}
li a:link{
text-decoration: none;
}

li a:visited{
    color: lightblue;
}