@font-face {
    font-family: bely, serif;
    src: url(https://use.typekit.net/dlk4zzb.css);
}
:root{
    --botanicalgreen:#3E5D58;
    --lightbotgreen: #92aca0;
}

.topNav{
    padding-bottom: 100px;
    font-family: bely, serif;
    font-weight: 600;
}
.topNav a{
    float: left;
    display: block;
    color: var(--lightbotgreen);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: bely, serif;
}
.topNav .icon {
    display: none;
}
.navDropdown{
    float: left;
    overflow: hidden;
}
.navDropdown .navBtn{
    font-size: 17px;
    font-family: bely, serif;
    font-weight: 600;
    border: none;
    outline: none;
    color: #92aca0;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    
}
.dropdownItems{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
.dropdownItems a{
    float: none;
    color: var(--lightbotgreen);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.topNav a:hover, .navDropdown:hover .navBtn{
    color: var(--botanicalgreen);
    
}
.dropdownItems{
    color: var(--lightbotgreen);
}
.navDropdown a:hover{
    color: var(--botanicalgreen);
}
.navDropdown:hover .dropdownItems{
    display:block;
}