@font-face {
    font-family: bely, serif;
    src: url(https://use.typekit.net/dlk4zzb.css);
}
:root{
    --botanicalgreen:#3E5D58;
    --lightbotgreen: #92aca0;
}
#greetingHead{
   text-align: center;
   padding-bottom: 500px;
   margin: 0;
}
#greeting{
    background-image: url("images/cover.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    padding-top: 200px;
    margin: 0;
}

#greetingParagraph{
    text-align: center;
}

h2, h3{
    font-family: bely, serif;
    font-weight: 800;
}
h2{
    font-weight: 700px;
    font-size: xx-large;
    color: var(--botanicalgreen);
}
h3{
    font-size: larger;
}

body{
    font-size: 18px;
    background-color: #f8f8ff;
}

a:link{
    color: var(--botanicalgreen);
    text-decoration: none;
}
#greeting{
    text-align: center;
}

.main{
    margin-left: 200px;
    margin-right: 200px;

}

.titleTime{
    display: flex;
    justify-content: space-between;
    text-align: right;
}
#skillsection ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    width: 100%;
    
}

#skillsection li{

    color: var(--botanicalgreen);
    background-color:   var(--lightbotgreen);
    border-radius: 10%;
    font-size: 15px;
}

.sectionHead{
    border-left: solid var(--lightbotgreen);
    padding-left: 15px;
}
.skillTag{
    margin: 2px 2px 5px 0px;
    padding: 2px 8px;
    display: inline-block;
    color: var(--botanicalgreen);
    background-color:   var(--lightbotgreen);
    border-radius: 10%;
    font-size: 15px;

}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 900px) {
    .main{
        margin: 0;
    }
   .titleTime {
        display: block;
        text-align: left;
        white-space: nowrap;
   }
  
  
  }


